<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Board</title>
</head>
<body>
  <h1>Boardにようこそ！</h1>
  <h2>Boardとは</h2>
  <p>Boardとは、あまりにもシンプルすぎる匿名掲示板です。</p>
  <h2>Boardに「有る」もの</h2>
  <p>
    <ul>
      <li>匿名でのメッセージ投稿</li>
      <li>Ajaxによるページ非遷移型、非同期通信での投稿</li>
      <li>何一つ広告のない、ただただ殺風景なデザイン</li>
    </ul>
  </p>
  <h2>Boardに「無い」もの</h2>
  <p>
    <ul>
      <li>美麗でおしゃれな、格好のつくデザイン</li>
      <li>画像投稿機能</li>
      <li>投稿の削除機能(自分の投稿には責任を持ちましょう)</li>
      <li>etc...</li>
    </ul>
  </p>
  <h2>さあ、Boardをはじめよう！</h2>
  <p>
    面倒な会員登録は要りません！
    Boardは<a href="/post">こちら</a>から！
  </p>
</body>
</html>
