<!DOCTYPE html>
<html lang="jp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <link rel="stylesheet" href="/cssFile.css">
  <script>
  function messageUpdate(){
    $("#messages").html("<h2>読み込み中……。</h2>");
    $("#messages").load("/messagelist");
  }
  function sendMessage(title,content){
    $("#messages").html("<h2>読み込み中……。</h2>");
    if(title == "") title="無題";
    $("#messages").load("/sendmessage",{"title":title,"content":content});
  }
  $(function(){
    messageUpdate();
    var hsize = $(window).height();
    $("#groupPane").css("height","40px");
    hsize-=50;
    $("#footer").css("height","40px");
    hsize-=50;
    $("#messages").css("height",hsize+"px");
  });
  </script>
  <title>Board</title>
</head>
<body>
<div id="groupPane">
  <h1>メッセージ一覧</h1>
</div>
<hr>
<div id="messages" style="width:100%;overflow:auto">
<!--ここに読み込み-->
</div>
<div id="footer">
  <input id="messageTitle" type="text" value="" placeholder="タイトルは？">
  <input id="postMessage" type="textbox" value="" placeholder="今何してる？">
  <input type="button" onclick="sendMessage($(this).parent().children('#messageTitle').val(),$(this).parent().children('#postMessage').val());" value="送信">
  <button type="button" onclick="messageUpdate()">更新</button>
</div>
</body>
</html>
